/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --font-family: Inter;
  --accent-font: 'PressStart2P';
  --page-background: 
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  --border: 2px solid #000;
  --color-dark: #000;
  --text-shadow:
   1px 1px 1px rgba(255, 255, 255, 0.5),
   -1px -1px 1px rgba(255, 255, 255, 0.5);
  --icon-floppy-size: 28px;
  --icon-contour-color: #000;
  --animation-fill-color: red;
  --font-weight-main: 400;
  --font-weight-title: 700;
}
